{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-6">
            <h1 class="text-center">User Dashboard</h1>
        </div>
    </div>
{% endblock %}
